@use '../mixins/breakpoints' as *;

$display-values: none, block, inline, inline-block, flex, inline-flex, grid, inline-grid;

@each $v in $display-values {
	.u-d-#{$v} {
		display: $v;
	}
}

@each $bp in sm, md, lg, xl, 2xl {
	@include media-breakpoint-up($bp) {
		@each $v in $display-values {
			.u-d-#{$bp}-#{$v} {
				display: $v;
			}
		}
	}
}
