.u-container {
	width: 100%;
	max-width: 1440px;
	margin: 0 auto;
	padding-left: 16px;
	padding-right: 16px;
}

.u-container-sm {
	max-width: 640px;
}
.u-container-md {
	max-width: 768px;
}
.u-container-lg {
	max-width: 1024px;
}
.u-container-xl {
	max-width: 1280px;
}
.u-container-fluid {
	max-width: 100%;
}
.u-container-no-padding {
	padding-left: 0;
	padding-right: 0;
}
