@import '../variables.css';
@import '../mixins/breakpoints.css';

.u-row {
	display: grid;
	grid-template-columns: repeat(12, minmax(0, 1fr));
	gap: var(--u-space-md, 1rem);
}

@for $i from 1 to 12 {
	.u-col-$(i) {
		grid-column: span $(i) / span $(i);
	}
}

@for $i from 1 to 12 {
	.u-col-start-$(i) {
		grid-column-start: $(i);
	}
}

.u-col-start-auto {
	grid-column-start: auto;
}

@each $bp in sm, md, lg, xl, 2xl {
	@include media-breakpoint-up($bp) {
		@for $i from 1 to 12 {
			.u-col-$(bp)-$(i) {
				grid-column: span $(i) / span $(i);
			}
		}
		@for $i from 1 to 12 {
			.u-col-start-$(bp)-$(i) {
				grid-column-start: $(i);
			}
		}
		.u-col-start-$(bp)-auto {
			grid-column-start: auto;
		}
	}
}
